angles==2.0
Cython==0.29.14
networkx==3.1
tsmoothie==1.0.4
opencv-contrib-python==4.8.0.76
opencv-python==4.8.1.78
opendr-toolkit==3.0.0
opendr-toolkit-activity-recognition==3.0.0
opendr-toolkit-ambiguity-measure==3.0.0
opendr-toolkit-binary-high-resolution==3.0.0
opendr-toolkit-compressive-learning==3.0.0
opendr-toolkit-engine==3.0.0
opendr-toolkit-face-recognition==3.0.0
opendr-toolkit-facial-expression-recognition==3.0.0
opendr-toolkit-fall-detection==3.0.0
opendr-toolkit-gesture-recognition==3.0.0
opendr-toolkit-heart-anomaly-detection==3.0.0
opendr-toolkit-human-model-generation==3.0.0
opendr-toolkit-hyperparameter-tuner==3.0.0
opendr-toolkit-multimodal-human-centric==3.0.0
opendr-toolkit-object-detection-3d==3.0.0
opendr-toolkit-object-tracking-2d==3.0.0
opendr-toolkit-object-tracking-3d==3.0.0
opendr-toolkit-panoptic-segmentation==3.0.0
opendr-toolkit-pose-estimation==3.0.0
opendr-toolkit-semantic-segmentation==3.0.0
opendr-toolkit-skeleton-based-action-recognition==3.0.0
opendr-toolkit-speech-recognition==3.0.0
opendr-toolkit-speech-transcription==3.0.0